[DATA_SOURCE]
TYPE=arctic
ARCTIC_CONNECT=localhost:27017
#ARCTIC_CONNECT=mongodb://hk-mongodb-set-04:27017,hk-mongodb-set-02:27017,hk-mongodb-set-03:27017,hk-mongodb-set-01:27017/test?replicaSet=hk-mongo-set
#ARCTIC_CONNECT=mongodb://sz-mongodb-set-01:10017,sz-mongodb-set-02:10018/test?replicaSet=sz-mongo-set

[FILE_PATH]
TICK=/fdtai/tick_data/tick_5/
TRADE=/fdtai/tick_data/tick_1/

DAY_K=/fdtai/tick_data/day_k/
MINUTES_K=/fdtai/tick_data/minutes_k/

DIVIDEND=/fdtai/tick_data/dividend.csv
FINANCE=/fdtai/tick_data/cw.csv
EQUITY=/fdtai/tick_data/gb.csv
